<section class="mat-typography">
    <h2>Converter</h2>
</section>
<mat-form-field>
  <input matInput [(ngModel)]="invalue" (input)="convert(invalue)" type="number" step="0.1" placeholder="Value in USD"> 
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="outvalue" (input)="convert(outvalue)" type="number" step="0.1" placeholder="Value in Crypto">
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Target Currency" [(ngModel)]="SelectedCurrency">
    <mat-option *ngFor="let cryptocurrency of cryptocurrencies" [value]="cryptocurrency">
      {{cryptocurrency.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
