<div class="container">
  <section class="mat-typography">

    <!-- Chart Type Toggle-->
    <mat-button-toggle-group #group="matButtonToggleGroup" (change)="changeChartType(group.value)" value="logarithmic">
      <mat-button-toggle value="logarithmic">
        Logarithmic
      </mat-button-toggle>
      <mat-button-toggle value="linear">
        Linear
      </mat-button-toggle>
    </mat-button-toggle-group>

    <!--  -->
    <canvas id='charts'></canvas>


    <h4>Selected Currencies:</h4>

    <mat-grid-list [cols]="2" rowHeight="3em">
      <ng-container *ngFor="let item of selection.selected">
        <mat-grid-tile [colspan]="1" [rowspan]="1">{{ item.name }}</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button color="accent" (click)="removeCurrency(item)">Remove</button>
        </mat-grid-tile>
      </ng-container>

    </mat-grid-list>
    <mat-list>
      <mat-list-item>

      </mat-list-item>

    </mat-list>
  </section>
</div>
