.navbar span{
  margin-right: 1em;
}
.spacer {
    flex: 1 1 auto;
  }

  .content{
    padding: 2em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    flex: 1 0 0;
  }

  .wide{
    flex: 1 0 0;
  }

  .layout{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 
  }
  