<mat-toolbar color="primary" class="navbar mat-elevation-z3">
  <span></span>
  <span>Cryptocurrency Live Tool</span>
  <span>
    <a mat-button href="#converter"> Converter</a>
  </span>
  <span class="spacer"></span>
  <span>
    :)
  </span>
</mat-toolbar>

<div class="layout">
  <div class="content mat-elevation-z3 wide">
    <app-cryptocurrency></app-cryptocurrency>
  </div>

  <div class="content mat-elevation-z3" id="converter">
    <app-currency-converter></app-currency-converter>
  </div>
</div>


<!-- 
<app-logger></app-logger>
-->