<div [hidden]="comparing" >
  <div class="tablecontrols">
    <span>
      <button mat-raised-button color="primary" (click)="toggleSelection()">Select For Comparison</button>
    </span>
    <span *ngIf="selecting">
      <button mat-raised-button color="accent" (click)="toggleComparison()">Compare</button>
    </span>
  </div>
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="coinSelected(element)">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)"
          *ngIf="selecting">
        </mat-checkbox>{{element.name}}
      </mat-cell>
    </ng-container>

    <!-- Price in USD  Column-->
    <ng-container matColumnDef="price_usd">
      <mat-header-cell *matHeaderCellDef> Price in USD </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price_usd}} $</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Pagination -->
  <mat-paginator #paginator [pageSize]="10" [showFirstLastButtons]="true">
  </mat-paginator>
</div>

<div *ngIf="comparing">
  <div class="tablecontrols">
    <button mat-raised-button color="primary" (click)="toggleComparison()">back</button>
  </div>
  <app-crypto-chart [selection]="selection"></app-crypto-chart>
  <button mat-raised-button color="primary" (click)="toggleComparison()">back</button>
</div>
